* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f1d4d4;
    display: flex;
    flex-direction: column;
}
.score-panel{
    margin: auto;
    font-size: x-large;
}
.memory-game{
    margin: auto;
    width: 640px;
    height: 640px;
    display: flex; 
    flex-wrap: wrap;
    perspective: 1000px;
}
.memory-card{
    width: 25%;
    height: 33.333%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.memory-card:active{
    transform: scale(.97);
    transition: transform .2s;
}
.memory-card.flip{
    transform: rotateY(180deg);
}
.front-face, .back-face{
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    background: #ddb6c6;
    backface-visibility: hidden;
}
.front-face{
   transform: rotateY(180deg); 
}
.score-panel {
	text-align: left;
	margin-bottom: 10px;
}
.score-panel .restart {
	float: right;
	cursor: pointer;
}